@media screen and (min-width: 2560px) and (max-height: 1364px) // 1364 to 1214
  .wheel
    &__header
      transform: scale(1.2)
      transform-origin: top
    &__sam
      transform: scale(1.2)
      transform-origin: bottom left
      left: 0
      right: 0
    &__footer
      transform: scale(1.2)
      transform-origin: bottom
@media screen and (min-width: 2560px) and (max-height: 1280px)
  .wheel
    &__title
      margin-top: 30px
@media screen and (max-width: 2204px) and (max-height: 981px) //981 to 831
  .wheel
    &__title
      margin-top: 30px
    &__sam
      transform: scale(0.9)
      transform-origin: bottom
      left: 0
      right: 0
    &__footer
      bottom: 20px
@media screen and (max-width: 2204px) and (max-height: 951px) 
  .wheel
    &__header
      margin-top: 40px
      transform: scale(0.9)
      transform-origin: top
@media screen and (max-width: 2204px) and (max-height: 890px) 
  .wheel
    &__header
      transform: scale(0.85)
    &__sam
      transform: scale(0.85)
      transform-origin: bottom
      bottom: -40px
///DEFAULT
@media screen and (max-width: 1920px) and (max-height: 1100px)
  .wheel
    &__header
      transform: scale(1)
    &__title
      margin-top: 78px
    &__sam
      transform: scale(1)
      left: -93px
      bottom: -9px
    &__footer
      transform: scale(1)
      bottom: 38px
@media screen and (max-width: 1920px) and (max-height: 1060px)
  .wheel
    &__title
      margin-top: 30px
@media screen and (max-width: 1920px) and (max-height: 1020px)
  .wheel
    &__header
      margin-top: 40px
      transform: scale(0.9)
      transform-origin: top
    &__sam
      transform: scale(0.9)
      transform-origin: bottom

@media screen and (max-width: 1830px) and (max-height: 920px)
  .wheel
    &__header
      margin-top: 40px
      transform: scale(0.9)
      transform-origin: top
    &__title
      margin-top: 30px
    &__sam
      transform: scale(0.9)
      transform-origin: bottom
@media screen and (max-width: 1680px) and (max-height: 1050px)
  .wheel
    &__header
      margin-top: 40px
      transform: scale(0.9)
      transform-origin: top



// ************************** 1440
// ************************** 1440
// ************************** 1440
// ************************** 1440
@media screen and (max-width: 1440px)
  .wheel
    &__header
      margin-top: 50px
    &__logo
      width: 381px
      height: 68.6px
    &__title
      margin-top: 66px
      font-size: 54px
    &__sam
      height: 595px
      bottom: 10px
      left: -80px
    &__footer
      font-size: 12px
      line-height: 14px
      width: 383px
      bottom: 35px
