.wrapper
  .wheel
    .
    .wheel__logo
        img(src="./img/logo.svg" alt="favbet logo")
    h1.wheel__title Крути колесо ー <br> вигравай призи*
    .wheel__wheel
      img(src="./img/wheel.png", alt="wheel")
    .wheel__sam
      img(src="./img/sam-1285.png", alt="sam")

    span.wheel__footer * Розіграш призів проводиться в межах акції «Колесо Сема». Загальний призовий фонд, вид та розмір бонусної пропозиції визначається та пропонується учасникам виключно на розсуд Організатора та в межах чинної Програми лояльності. Період дії акції з 11.02.2025 до 31.12.2025 року. Деталі на favbet.ua.