.wrapper
  .wheel
    .wheel__header
      .wheel__logo
        img(src="./img/logo.svg" alt="favbet logo")
      h1.wheel__title Крути колесо ー <br> 
        p вигравай призи*
    .wheel__sam
      picture
        source(media="(max-width: 1032px) and (min-height: 1032px) and (orientation: portrait)" srcset="img/sam.png")
        source(media="(max-width: 1279px)" srcset="img/sam-512.png")
        source(media="(max-width: 1440px)" srcset="img/sam-720.png")
        source(media="(min-width: 1441px)" srcset="img/sam-960.png")
        img(src="img/sam-640.png" alt="favbet")
    span.wheel__footer * Розіграш призів проводиться в межах акції «Колесо Сема». Загальний призовий фонд, вид та розмір бонусної пропозиції визначається та пропонується учасникам виключно на розсуд Організатора та в межах чинної Програми лояльності. Період дії акції з 11.02.2025 до 31.12.2025 року. Деталі на favbet.ua.